@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

main p {
  font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
  color: midnightblue;
  font-size: 25px;
  font-style: italic;
  text-align: center; }

/*Desde acá hacia abajo, opciones de tablas*/
th {
  font-family: 'Bebas Neue', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  border: black 5px solid; }

td {
  color: #1e1f1c;
  font-size: 20px;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
  border: black 3px dotted;
  text-align: center; }

.listabla {
  color: #061d47;
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 13px;
  list-style: none; }

.listabla2 {
  font-family: 'Bebas Neue', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 25px;
  font-style: normal; }

table {
  margin-left: auto;
  margin-right: auto; }

/* Desde acá hacia arriba, opciones de tablas*/
h2 {
  color: #3a4d18;
  font-size: 35px;
  text-align: center; }

h3 {
  color: white;
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  text-align: center; }

ol {
  color: white;
  font-size: medium;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  list-style-position: inside; }

.imgBanner {
  width: 600px;
  height: 200px;
  border-radius: 0px; }

.txt-center {
  text-align: center; }

.espaciado {
  letter-spacing: 16px; }

section {
  background-color: darkgrey; }

.fondoContacto {
  background-color: darkseagreen; }

.fondoContacto2 {
  background-color: darkgray; }

.fondoLuche {
  background-image: url(media/image2.jpeg);
  background-size: 8%; }

/*fondo de logos repetidos*/
#imgHome {
  width: 100%;
  display: block;
  align-content: center; }

#imgHome img {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  width: 325px;
  height: 270px;
  border-radius: 35%;
  transition: transform 1s ease-in-out 0s; }

#imgHome img:hover {
  transform: scale(1.25); }

iframe {
  display: block;
  margin: auto; }

section ul {
  color: white;
  text-align: center;
  list-style-type: none; }

.fonSection {
  background-image: url(media/image2.jpeg);
  background-size: cover;
  background-size: 50%; }

.fonYellowG {
  background-color: yellowgreen; }

/*-----------------mis secciones con bordes--------------------*/
.border {
  border: 2px dotted #707070; }

.border section div {
  border: 2px dotted #707070; }

/*------------imagenes de mi seccion "Sobre nosotros"---------------------*/
.imaBurg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 0 auto; }

@keyframes animacion2 {
  0% {
    width: 50%; }
  35% {
    width: 35%; }
  75% {
    width: 75%; }
  100% {
    width: 50%; } }

.imaBurg2 {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px; }

.imaBurg2 img {
  height: 50%;
  width: 50%;
  display: block;
  margin: 0 auto; }

.imaBurg img {
  width: 300px;
  height: 300px;
  padding: 3px;
  border: 2px solid #5a0101; }

.imaBurg3 {
  width: 100%;
  display: block; }

.imaBurg3 img {
  width: 300px;
  height: 300px;
  padding: 3px;
  border: 2px solid #5a0101; }

.imaBurg3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

/*-------------------home--------------------------------------------------------------------------------*/
main {
  grid-area: main;
  text-align: center;
  padding-top: 30%;
  padding-bottom: 25%; }

main {
  background-image: linear-gradient(to right, darkgoldenrod, white); }

#secImg {
  grid-area: img;
  background-image: linear-gradient(to bottom, black, white); }

#secVideo {
  grid-area: video; }

/*------------------home--------------------------------------------------------------------------------*/
.imaBurg .imaBurg3 {
  grid-area: img; }

/*-------------------Moto G4 (Celular)----------------*/
@media only screen and (min-width: 340px) {
  .imaBurg img {
    width: 150px;
    height: 200px; }
  .imaBurg3 img {
    width: 150px;
    height: 200px;
    padding: 3px;
    border: 2px solid #5a0101; } }

/*----------------tablet-----------------*/
@media only screen and (min-width: 768px) {
  .imaBurg img {
    width: 300px;
    height: 300px;
    padding: 3px;
    border: 2px solid #5a0101; }
  .imaBurg3 img {
    width: 300px;
    height: 300px;
    padding: 3px;
    border: 2px solid #5a0101; } }

/*import de scss*/
/*TAMANO*/
footer {
  height: 3em;
  bottom: 0; }

.mPlatos {
  display: block;
  height: 700px;
  margin-top: 4em; }

.histMain {
  font-size: 5em; }

/*BOOTSTRAP*/
.form-group {
  margin: 2em; }

.btn-lg {
  display: block;
  margin: auto;
  transition: transform 1s ease-in-out 0s; }

.btn-lg:hover {
  transform: scale(1.25); }

/*modal de la home*/
.btn {
  display: flex;
  margin: 4em  auto; }

/*COLORES*/
/*fondos de mis menúes de catering*/
.economico {
  background-color: #947300; }

.estandar {
  background-color: #679400; }

.premium {
  background-color: #9e2d00; }

/*fondo body*/
.fondoB {
  background-image: linear-gradient(to bottom, black, white); }

/*footer*/
footer {
  background-color: teal; }

/*menu hamburguesa*/
.tablaH {
  background-image: linear-gradient(to bottom, #fbddd5, white); }

/*menu platos*/
.mPlatos {
  background-image: linear-gradient(to bottom, black, white); }

.histMain {
  display: block;
  background: linear-gradient(to right, white, darkgoldenrod);
  margin-bottom: 5rem; }
