footer {
    height: 3em;
    bottom: 0;
}

.mPlatos {
    display: block;
    height: 700px;
    margin-top:4em ;
}

.histMain {
    font-size: 5em;
}

.achicando {
    height: 350px;
    width: auto;
}

.carousel-item {
    height: 400px;
    width: 615px;
}

.carousel-inner {
    height: auto;
    width: 615px;
}